.footer_start {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding: 1rem;
    background-color: rgb(190, 143, 4);
    /* color: rgb(226, 226, 226); */
    margin-top: 5rem;
}

.content_Us {
    display: flex;
    flex-direction: column;
    color: rgb(67, 37, 7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.pr_company {
    max-width: 400px;
    color: rgb(20, 14, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.more_update {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.new_data {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 0.6rem;
}

.new_data input {
    width:185px;
    height: 4vh;
    padding-left: 0.5rem;
    outline: none;
    border: none;
}

#Subscribe-btn {
    display: flex;
    justify-content: flex-end;
}

.footer_links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer_links ul li a {
    text-decoration: none;
    /* font-weight: bold; */
    color: rgb(67, 37, 7);
    /* font-family: sans-ser; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer_links ul li a:hover{
    color: rgba(250, 247, 247, 0.797);  
}

.footer_links label {
    font-family: sans-serif;
    font-weight: bold;
}

#Subscribe-btn button {
    padding: 5px 20px;
    background-color: rgb(136, 74, 12);
    color: aliceblue;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 0px 0px 2px black;
}
.logoname_ic i{
    font-size: 30px;
    color: rgb(231, 229, 219);
}
.logoname_ic label {
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(71, 35, 0);
}

.start_section_1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.start_section_2 {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.content_Us label {
    font-family: sans-serif;
    font-size: 15px;
}
.content_Us label:hover{
    color: rgba(250, 247, 247, 0.675);  
    
}
.start_section_2 p {
    color: rgb(67, 37, 7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    
}

#footer_address {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

#Company_gml {
    color: rgb(67, 37, 7);
    /* font-family: sans-ser; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    border-bottom: 1px solid rgb(108, 54, 0);
}
   #Company_gml:hover{
    color: rgba(250, 247, 247, 0.797);  
    text-decoration: none;
   }

.social-Media {
    display: flex;
    gap: 0.5rem;
}

.social-Media>span>i {
    border: 2px solid rgb(221, 221, 221);
    text-align: center;
    padding: 6px 8px;
    border-radius: 50%;

}

.social-Media i {
    color: rgb(24, 24, 24);
    font-size: 22px;
    transition: all 0.3 ease-in-out;
}

.social-Media i:hover {
    color: white;
}

.social-Media>span>i:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);

    /* border: none; */
}